<html>
    <body>
        <link rel="stylesheet" href="styles.css">
        <a href="/">Home</a> <br>
        <form action="/adddev" method="POST">
            First Name <input type="text" name="devFname"/> <br>
            Last Name <input type="text" name="devLname"/> <br> 
            Level <input type="text" name="devLevel"/> <br> 
            State <input type="text" name="state"/> <br>
            Suburb <input type="text" name="suburb"/> <br>
            Street <input type="text" name="street"/> <br>
            Unit <input type="number" name="unit"/> <br>
            <button>Submit</button>
        </form>
    </body>
</html>